<div class="container">

    <div class="row">
        <div class="col sm-6">
            <div class="card">
                <div class="card-body">
<canvas id="my_first_chart" height="200px"></canvas>
</div>
</div>
</div>
<div class="col sm-6">
    <div class="card">
        <div class="card-body">
<canvas id="my_second_chart" height="100px"></canvas>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col sm-6">
        <div class="card">
            <div class="card-body">
<canvas id="my_third_chart" height="50px"></canvas>
</div>
</div>
</div>
<div class="col sm-6">
    <div class="card bg-info">
        <div class="card-header" style="font-size: 14px; font-weight: bold;"> Nombre des utilisateurs</div>
        <div class="card-body">
          <button class="btn btn-outline-success" (click)="count()">Compter</button>  
</div>
</div>
</div>
</div>
</div>