<mat-nav-list>
    <div class="logo py-4">
      <img src="../assets/logo_eai_1.jpg" alt="EURAFRIC" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="#" routerLinkActive="list-item-active">
      <mat-icon>note</mat-icon>Visualiser
     </a>
    <a mat-list-item routerLink="#" routerLinkActive="list-item-active"> <mat-icon>note</mat-icon>Visualiser les fichiers</a>
    <a mat-list-item routerLink="/gestion" routerLinkActive="list-item-active"> <mat-icon>assignment</mat-icon>Gestion des utilisateurs</a>
    <a mat-list-item routerLink="/notification" routerLinkActive="list-item-active"> <mat-icon>notifications</mat-icon> Notification </a>
    <a mat-list-item routerLink="/parametre" routerLinkActive="list-item-active"> <mat-icon>build</mat-icon> Paramètre</a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active">
      <mat-icon>contact_mail</mat-icon>Contact
     </a>
   <a mat-list-item routerLink="/calendrier" routerLinkActive="list-item-active">
    <mat-icon>event</mat-icon>Calendrier
   </a>
  </mat-nav-list>
  
