<h2>File Details</h2> 

<hr/>
<div *ngIf="file">
  <div>
    <label><b>id: </b></label> {{file.id}}
  </div>
  <div>
    <label><b>entite: </b></label> {{file.entite}}
  </div>
  <div>
    <label><b>filename: </b></label> {{file.filename}}
  </div>
  <div>
    <label><b>filedate: </b></label> {{file.filedate}}
  </div>
  <div>
    <label><b>dateTraitement: </b></label> {{file.dateTraitement}}
  </div>
  <div>
    <label><b>validName: </b></label> {{file.validName}}
  </div>
  <div>
    <label><b>validDate: </b></label> {{file.validDate}}
  </div>
  <div>
    <label><b>validColumn: </b></label> {{file.validColumn}}
  </div>  
  <div>
    <label><b>validMontant: </b></label> {{file.validMontant}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>

